<!DOCTYPE html>
<!-- Magnifique page d'accueil made in Romania-->
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenue</title>
        <script>
            window.onload = function() {
                let sub = /:\/\/([^\/]+)/.exec(window.location.href)[1].split(".")[0];
                let dom = window.location.origin.split('.').slice(1).join(".");
                let links = Array.prototype.slice.call(document.getElementsByTagName("a"));
                links.forEach(element => {
                    element.href = element.href.replace('%24%24', dom);
                    element.href = element.href.replace('%24', sub);
                });
            }
        </script>
    </head>
    <body>
        <h1>Bienvenue sur <a target="_blank" href="https://$.$$">votre sous-domaine</a></h1>
        <p>Il n'y a pas grande chose, pourquoi ne pas <a target="_blank" href="https://files.$$">importer des fichiers</a> ou lancer l'instance <a target="_blank" href="https://code-$.$$">Visual Studio Code</a>? <br> Bonne chance et si vous avez des questions, notre discord est sur la <a target="_blank" href="https://$$/">page principale</a> (:</p>
    </body>
</html>