<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }

        .title {
            margin: auto;
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
    <title>Bienvenue</title>
</head>

<body>
    <div>
        <img class="conv" src="https://www.fouiny.wtf/p/qers7jbuyk.png" alt="super conv">
    </div>
</body>

</html>